{{ define "GuideNav" }}
<div class="section-nav-content">
    <h3>Guide</h3>
    <ul>
        <li><a href="{{.Site.PathPrefix}}/guide/">Guide</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/getting-started/">Getting started</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/concepts/">Concepts</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/views/">Views and mixins</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/routing/">Routing</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/templates/">Templates and components</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/htmx/">htmx</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/islands/">Island pages</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/wasmhost/">Go handlers in a Web Worker</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/wasmhost-state/">State, heavy jobs and long requests</a></li>
    </ul>
</div>
{{ end }}
